<h2>Write a post</h2>

<form methode="post" action="/create">
  <label for="content">Content</label>
  <input id="content" type="text" name="content">

  <label for="image">Image</label>
  <input id="image" type="file" name="image">

  <button>Post !</button>
</form>
